<footer>
    <div class="top" style="border-top: 1px solid #ddd;">
        <div class="container">
            <div class="wrapper">
                <p class="header-h1 small alt-font">Branching Web</h1>
                <div class="split">
                    <div>
                        <p class="h-bold mt-1"><small>Navigation</small></p>
                        <p><a href="/">Home</a></p>
                        <p><a href="/#pricing">Pricing</a></p>
                    </div>
                    <div>
                        {# <p class="h-bold mt-1"><small>Services</small></p>
                        <p><a href="#">Build a New Website</a></p>
                        <p><a href="#">Update your Website</a></p>
                        <p><a href="#">Start an Online Shop</a></p> #}
                    </div>
                    <div>
                        <p class="h-bold mt-1"><small>Our Portfolio</small></p>
                        <p><a href="/portfolio-cove-catering/">Cove Catering</a></p>
                    </div>
                    <div>
                        <p class="h-bold mt-1"><small>Get in touch</small></p>
                        <p><a href="/#contact-us">Contact Us</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="second" style="border-top: 1px solid #ddd;">
        <div class="container">
            <div class="wrapper pad-small">
                <div class="split">
                    <small class="font-tiny">© Branching Web 2025</small>
                    <small class="font-tiny">ABN 87 133 456 776</small>
                </div>
            </div>
        </div>
    </div>
</footer>