<!doctype html>
<html lang="en">
    <head>
        {# Meta Data #}
        {% include "partials/meta_data.njk" %}
        {# Schema Data #}
        {% include "partials/schema_data.njk" %}
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>