<script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "ProfessionalService",
                "name": "Branching Web",
                "image": "",
                "@id": "https://www.branchingweb.com.au/#site",
                "url": "https://www.branchingweb.com.au{{ page.url }}",
                "telephone": "0431584875",
                "email": "samuel@branchingweb.com.au",
                "priceRange": "$$",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "",
                    "addressLocality": "Brisbane",
                    "addressRegion": "QLD",
                    "postalCode": "4000",
                    "addressCountry": "AU"
                },
                "openingHoursSpecification": {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                    "Sunday",
                    "Saturday",
                    "Friday",
                    "Thursday",
                    "Wednesday",
                    "Tuesday",
                    "Monday"
                    ],
                    "opens": "07:00",
                    "closes": "17:00"
                },
                "sameAs": [
                    "https://www.facebook.com/BranchingWeb",
                    "https://www.instagram.com/branchingweb/"
                ] 
            }
        </script>